$teal: #80BBCA;
$darkBlue: #2B3E8B;


.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.content-container {
  width: 100vw;
  height: 90vh;
  
}

.page-nav {
  width: 100vw;
  height: 5vh;
}

.calendar {
  height: 70vh;
}

a :hover {
  color: $darkBlue;
}

.dark-blue-text {
  color: $darkBlue;
  font-size: 18px;
}

.rbc-toolbar {
  flex-wrap: nowrap;
  font-size: 12px;
}

.rbc-toolbar-label {
  font-size: 20px;
  font-weight: bold;
}

.rbc-toolbar button {
  padding: .2rem .75rem;
}

.rbc-event {
  background: $darkBlue;
}

.rbc-event-content {
  font-size: 70%;
  font-weight: bold;
}


.blue-outline-btn {
  background: white;
  color: $darkBlue;
  font-weight: bold;
  border: 1px solid $darkBlue;
  
}


.blue-btn {
 background: $darkBlue;
}

.rbc-today {
  border: 1px solid $teal;
  background: none;
}

// .rbc-header { 
//   //day of month row header 


// }

// .rbc-event-label {

// }

// .rbc-event-content {

// }




.home-logo {
  color: #0d969b !important;
  font-weight: bold;
  font-size: 4em;
  margin-left: 1.5em;
  margin-right: 4.5em;
}

.web-body {
  margin-top: 3em;
}

.scroll-panel {
  border: 1px solid rgba(128, 128, 128, 0.205);
  max-height: 65vh;
  overflow: scroll;
  border-radius: 5%;
}

.event-tag {
  text-align: left;
  background-color: white;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.452);
  margin: 0.5em;
  padding: 1em;
}

.event-tag:hover {
  // border: 1px solid rgba(128, 128, 128, 0.767);
  border: 1px solid $teal;
}

.profile {
  max-height: 200px;
  width: auto;
  margin: 2em;
}

.show-page {
  text-align: left;
}



.page-footer {
  background-color: $darkBlue;
  color: white;
  font-size: 16px;
  padding: 10px;
  // width: 100vw;
  // height: 5vh;
}