.App {
  text-align: center;
}

.content-container {
  width: 100vw;
  height: 100vh;
  
}

.calendar {
  height: 65vh;
}

.home-logo {
  color: #0d969b !important;
  font-weight: bold;
  font-size: 4em;
  margin-left: 1.5em;
  margin-right: 4.5em;
}

.web-body {
  margin-top: 3em;
}

#logo-image {
  width: 5vw;
  height: 5vh;
}

#logo-text {
  width: 25vw;
  height: 14vh;
}

a :hover {
  color: #2B3E8B; 
}

.nav-link {
  color: #2B3E8B;
}

.dark-blue-text {
  color: #2B3E8B;
  font-size: 18px; }

.rbc-toolbar {
  flex-wrap: nowrap;
  font-size: 12px; }

.rbc-toolbar-label {
  font-size: 20px;
  font-weight: bold; }

.rbc-toolbar button {
  padding: .2rem .75rem; }

.rbc-event {
  background: #2B3E8B; }

.rbc-event-content {
  font-size: 70%;
  font-weight: bold; }

.blue-outline-btn {
  background: white;
  color: #2B3E8B;
  font-weight: bold;
  border: 1px solid #2B3E8B; }

.blue-btn {
  background: #2B3E8B; }

.rbc-today {
  border: 1px solid #80BBCA;
  background: none; }

.scroll-panel {
  border: 1px solid rgba(128, 128, 128, 0.205);
  max-height: 65vh;
  overflow: scroll;
  border-radius: 5%; }

.event-tag {
  text-align: left;
  background-color: white;
  color: black;
  border: 1px solid rgba(128, 128, 128, 0.452);
  margin: 0.5em;
  padding: 1em; }

.event-tag:hover {
  border: 1px solid #80BBCA; }

.profile {
  max-height: 200px;
  width: auto;
  margin: 2em; }

.show-page {
  text-align: left; }

.page-footer {
  background-color: #2B3E8B;
  color: white;
  font-size: 16px;
  padding: 10px; }

